/Modbus/.vs
/Modbus/Modbus.Test/bin
/Modbus/Modbus.Test/obj
/Modbus/Modbus.Basics/bin
/Modbus/Modbus.Basics/obj
/Modbus/Modbus.Protocal/bin
/Modbus/Modbus.Protocal/obj
/Modbus/Modbus.Protocol/obj
/Modbus/Modbus.Protocol/bin
